*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background: linear-gradient(to top right, #361999, #78fff1);
    width: 100vw;
    height: 100vh;
    padding: 2%;
}
h1{
    text-align: center;
    margin: 2%;
}
#container{
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 2%;
}
form{
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 2%;
    background: linear-gradient(to left, rgba(255,255,255,0.05), rgba(255,255,255,0.35));
    width: 60%;
    margin-top: 100px;
}
.field{
    border-radius: 10px;
    padding: 4%;
    margin: 2%;
    text-align: center;
}
legend,label{
    font-weight: bold;
}
.opinia{
    padding: 2%;
}
input,button{
    background: linear-gradient(to left, rgba(255,255,255,0.1), rgba(255,255,255,0.25));
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 4%;
    box-shadow: 0px 8px 24px 0 rgba(0,0,0,0.3);
    padding: 1% 2%;
}
#buttons{
    margin-left: 20%;
    margin-top: 2%;
}
#buttons>button{
    margin-right: 2%;
    width: 35%;
    padding: 2%;
    transform: scale(0.9,0.9);
    transition: 0.3s ease-in-out;
}
#buttons>button:hover{
    transform: scale(1,1);
    transition: 0.3s ease-in-out;
}
.hover:hover{
    cursor: pointer;
}